.body {
    background-color: black;
    width: auto;
    color: grey;
}

.td {
    width: 20px;
    height: 20px;
}

.game_tables {
    width: 66%;
    height: 92%;
    margin: 2%;
    margin-right: 0px;
    float: left;
}

.table_ship_hit {
    width: 50%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: rgba(0,0,0,0.9);

    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.table_ship {
    width: 50%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: rgba(0,0,0,0.9);

    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.info_ship {
    width: 30%;
    height: 92%;
    margin-right: 2%;
    margin-top: 2%;
    background-color: rgba(0,0,0,0.9);
    float: left;
}

.info_ship_title {
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 5%;
    background-color: red;
}

.info_ship_content {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 5%;
}

.buttShip {
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: green;
    background-color: #668DE8;
}

.cell {
    width: 30px;
    height: 30px;
}

.type {
	width: 400px;
	height: 60px;
	border-radius: 10px;
}

.direction {
	float: left;
	width: 15%;
	height: 5%;
	border-radius: 10px;
	background-repeat: no-repeat;
}
